APPIUM_SERVER_URL=http://127.0.0.1:4723

PLATFORM_NAME=Android
AUTOMATION_NAME=UiAutomator2

DEVICE_NAME=Pixel_5_API_33
DEVICE_UDID=emulator-5554

APP_PACKAGE=com.saucelabs.mydemoapp.rn
APP_ACTIVITY=com.saucelabs.mydemoapp.rn.MainActivity